.titulo{}
h2 {
    margin: 0;
    font-size: 60px;
    color: white;
    font-family: "Bangers", system-ui;
    font-weight: 360;
    font-style: normal;
}
#board{
    width: 300px;
    height: 300px;
}
.myRow{
    width: 300px;
    height: 30px;
}
.grid{
    width: 30px;
    height: 30px;
    border: black 0.5px solid;
    display: inline-block
}
.position{
    display: inline-block;
}
.horizontal{
    width: 35px;
    height: 15px;
    border: black 0.5px solid;
}
.vertical{
    width: 15px;
    height: 35px;
    border: black 0.5px solid;
    margin-top: 5px;
}
.selected{
    background-color: blue;
}
.hit{
    background-color: red;
}
.miss{
    background-color: gray;
}
.container {
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo */
    padding: 20px; /* Añade un poco de padding */
    border-radius: 8px; /* Bordes redondeados (opcional) */
    color: white;
}
