@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    background-color: #f0f0f0;
    background: url('./imagenes/confi2.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 160px;
    color: white;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

h3, h4 {
    font-size: 160px;
    color: white;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}

span {
    font-size: 20px;
    color: white;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: bold;
}

.est-tabla{
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(4px);
}

/* Estilo para el tablero */
.myRow {
    display: flex;
}

.grid {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: 40px; /* Ajusta el tamaño según tus necesidades */
    border: 1px solid #FFFFFF; /* Blanco para las líneas */
    background-color: #4682B4; /* Azul para el fondo */
}

.grid:hover {
    background-color: #1E90FF; /* Azul más claro al pasar el mouse */
}

#ships .col {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

#ships .col:hover {
    background-color: lightgreen;
}



